/*=========
local fonts
=========*/
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v29-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v29-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/montserrat-v29-latin-500.woff2') format('woff2'),
    url('../assets/fonts/montserrat-v29-latin-500.ttf') format('truetype');
}

/*=======
variables
=======*/
:root {
  --accent-100: #80d8ff;
  --accent-200: #00789b;
  --bg-100: #1a1a1a;
  --bg-200: #292929;
  --bg-300: #404040;
  --primary-100: #ff80ab;
  --primary-200: #de638e;
  --primary-300: #951950;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
}

/*=============
element styling
=============*/
html {
  font-family: 'Montserrat' sans-serif;
}

body {
  background: var(--bg-100);
  color: var(--text-200);
}

*:focus-visible {
  outline: 0;
  box-shadow: rgba(250, 250, 250, 0.5) 0px 0px 10px 0px;
}

/*============
grid container
============*/
.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

/*=========
grid header
=========*/
.grid__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.header__logo {
  margin-bottom: 1.5rem;
  width: 2rem;
  width: clamp(2rem, 1.2857142857142858rem + 3.571428571428571vw, 3rem);
}

.header__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

/*========================
grid header responsiveness
========================*/
@media (min-width: 26.5625rem) {
  .grid__header {
    padding: 1.5rem;
  }
}

@media (min-width: 41.875rem) {
  .grid__header {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
  .header__logo {
    margin-bottom: 0;
  }
}

/*==================
grid header controls
==================*/
#controls__color,
#controls__select,
#controls__button-generate,
#controls__button-random {
  background: var(--bg-200);
  border: 0;
  color: var(--text-200);
  cursor: pointer;
}

#controls__select,
#controls__button-generate,
#controls__button-random {
  border-radius: 5px;
}

#controls__color {
  background: var(--bg-100);
  height: auto;
  min-height: 32px;
}

#controls__select {
  padding: 0.35rem 0.25rem;
}

#controls__button-generate {
  padding: 0.5rem 1rem;
  transition: color 0.2s;
}

#controls__button-random {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
}

#controls__button-generate:hover,
#controls__button-random:hover {
  color: var(--text-100);
}

/*===================
grid generated colors
===================*/
.grid__color-swatches {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.colors__color {
  flex: 1;
}

@media (min-width: 37.5rem) {
  .grid__color-swatches {
    flex-direction: row;
  }
}

/*====
footer
====*/
.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/*============
footer content
============*/
.footer__text--em {
  color: var(--primary-100);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__social {
  color: var(--text-200);
  display: flex;
  font-size: 1.5rem;
  transition: color 0.2s;
}

.footer__social:hover {
  color: var(--accent-100);
}

/*===================
footer responsiveness
===================*/
@media (min-width: 26.5625rem) {
  .footer {
    padding: 1.5rem;
  }
}

@media (min-width: 37.5rem) {
  .footer {
    padding: 2rem;
  }
}
